/* RESET START */
*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
	margin: 0;
	color: #34404b;
	position: relative;
    font: 12px/1 'Harmonia_regular', sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover, a:focus{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
input, textarea, button{
	outline: none;
	border:none;
}
textarea{
	resize: vertical;
}
button{
	cursor: pointer;
}
label{
    margin-bottom: 0;
}
.btn {
    padding: 18px 28px;
    font-size: 14px;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.btn.btn-default{
    color: #fff;
    background-color: #ff5912;
}
/* RESET END */

/*DEFAULT CLASSES START*/

.flex-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.aligh-center{
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.justify-sp-between{
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.justify-sp-around{
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.justify-con-center{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.orange-text{
    color: #ff5912;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg {
    background-color: #fff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
.rating .empty{
    color: #e9ecf3;
}
.description{
    font-size: 16px;
    line-height: 1.88;
    color: #495662;
}
/*DEFAULT CLASSES END*/
/*DEFAULT COMPONENT START*/
.custom-icon{
    display: inline-block;
}
.icon-search-ic:hover{
    background-position: -81px 0px;
}
.icon-user-ic:hover{
    background-position: 0px -59px;
}
.icon-cart-ic:hover{
    background-position: -20px -59px;
}
.icon-like-ic:hover {
    background-position: -38px -80px;
}
.icon-add-to-cart-ic:hover {
    background-position: 0px -38px;
}
.icon-share-ic:hover {
    background-position: -44px -59px;
  }
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title .big{
    font-size: 52px;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.default-section{
    padding: 60px 0;
}
.item{
    position: relative;
    font-family: 'Harmonia_bold';
    font-size: 18px;
    color:#34404b;
    background-color: #fff;
    padding: 30px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
}
.item:hover .item-title{
    color: #ff5912;
}
.item:hover .item-price{
    display: none;
}
.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding-bottom: 30px;
}
.item .item-price{
    color: #ff5912;
}
.item:hover{
    -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
.item .item-img {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height: 90px;
}
.item-description{
    padding: 0 40px;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    border-bottom: 1px solid #f2f4f7;
    padding-bottom:30px; 
}
.more-info-on-hover .colors li{
    display: inline-block;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
.item:hover .more-info-on-hover {
    opacity: 1;
}
.subscribe-form{
    padding: 37px 42px;
}
.subscribe-input-group{
    margin-right: 30px;

}
.subscribe-input-group label {
    vertical-align: middle;
    margin-right: 10px;
}
.subscribe-input{
    font-family: 'Harmonia_italic';
    color: #7c8791;
    font-size: 14px;
    min-width: 255px;
}
.subscribe-title {
    font-family: 'Harmonia_bold';
    font-size: 18px;
    margin-right: 25px;
    color: #ff5912;
}
.subscribe-text{
    font-family: 'Harmonia_italic';
    font-size: 14px;
}
.subscribe-form button:hover{
    background-color: #D9470A;
}
header .top-header{
    border-bottom: 1px solid rgba(230, 232, 235, .5);
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
header .bottom-header{
    border-bottom: 1px solid rgba(230, 232, 235, .5);
    padding: 42px 0;
}
footer {
    margin-top: 60px;
    padding: 84px 0;    
    font-size: 14px;
    line-height: 2.14;
    color: #28313b;
    background-color: #fff;
}
/*DEFAULT COMPONENT END*/

/* ALL STYLE START */
nav.social-nav a + a{
    margin-left: 17px;
}
nav.social-nav a:hover{
    color: #FF5912;
}
.logo {
    margin-right: 85px;
}
header .bottom-header nav.main-nav a + a{
    margin-left: 42px;
}
nav.main-nav{
    font-size: 16px;
}
nav.main-nav a:hover{
    color: #ff5912;
}
ul.user-controls{
    margin-left: auto;
}
ul.user-controls li +li{
    margin-left: 30px;
}
ul.user-controls li {
    position: relative;
}

span.basket-up {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    width: 18px;
    height: 18px;
    background-color: #34404b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    top:-20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%)
}
.items-carousel{
    min-height: 650px;
    background: url(..//img/carousel-img-1.jpg) no-repeat center / cover;
    margin-bottom: 60px;
}
.items-carousel-description > span {
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    line-height: 1.67;
    color: #3c4751;
    margin-bottom: 14px;
}
.price-wrapper{ 
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    margin-top: 60px;
}
.price-wrapper>span{
    margin-right: 30px;
    padding-left: 15px;
}
.price-wrapper a span + span {
    margin-left: 10px;
}
.price-wrapper a {
    display: inline-block;
}
.load-more .circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.load-more .circle span + span {
    padding-left: 5px;
}
.load-more {
    background-color: #fff;
    padding: 26px 0;
    text-align: center;
    margin-top: 80px;
}
footer .copyright span{
    display: block;
    margin-top: 22px;
}
.payment h6{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    line-height: 1.88;
    color: #ff5912;
    margin-bottom: 20px;
}
.payment ul li +li{
    padding-left: 10px;
}
.footer-nav {
    min-width: 50%;
    margin-left: auto;
}
.footer-nav-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-flow:column wrap;
        -ms-flex-flow:column wrap;
            flex-flow:column wrap;
}
.footer-nav-link {
    display: inline-block;
}
span.point{
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #28313b;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 2px;
}
.footer-nav-items li:hover .point{
    background-color: #ff5912;
}
.footer-nav-items li:hover{
     color: #ff5912;
}
.kit{
    padding: 20px 60px;
}
.sales-block {
    position: relative;
}
.sales-block > div {
    display: inline-block;
    width: 50px;
    height: 60px;
}
.sales-block div:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.sales-block div:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    left: 0;
    top:0;
    text-align: center;
}
.sales-block .text-sale {
    display: inline-block;
    font-family: 'Harmonia_italic';
    color: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 12px 22px 0;
}
.sales-block .percent {
    display: inline-block;
    font-family: 'Harmonia_black';
    font-size: 18px;
    color: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.kit-description .kit-name{
    display: block;
    font-family: 'Harmonia_black';
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.kit-description .kit-text-content{
    font-size: 12px;
    color: #495662;
}
.kit-price a{
    display: inline-block;
    font-family: 'Harmonia_black';
    font-size: 32px;
    color: #ff5912;
}
.kit-price span + span{
    margin-left: 18px;
}
.area-wrapper{
    padding: 30px;
    text-align: center;
}
.area-title {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
}
.area-desciption{
    letter-spacing: .6em;
    color: rgba(52, 64, 75, .4);
}
.item-mini{
    padding: 35px 28px;
}
.item-mini{
    font-family: 'Harmonia_bold';
}
.item-mini-title{
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    padding-bottom: 30px;
}
.item-mini-price{
    opacity: 1;
    font-size: 16px;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.item-mini-description{
    position: relative;
    padding-left: 30px;
    border-left: 1px solid #f5f5f6;  
}
.add-to-cart-hover{
    opacity: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.add-to-cart-hover span + span{
    margin-left: 10px;
}
.item-mini:hover .item-mini-price{
    opacity: 0;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.item-mini:hover .add-to-cart-hover{
    opacity: 1;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
 .add-to-cart-hover a:hover {
    color: #ff5912;
}
.add-to-cart-hover a:hover .icon-add-to-cart-ic{
    background-position: 0px -38px;
}
.category-wrap{
    padding-top:120px;
}
.aside-section{
padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: 'Harmonia_black';
    font-size: 18px;
    color: #ff5912;
    margin-bottom: 35px;
}
/* ALL STYLE END */