/* RESET START */
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #34404b;
	position: relative;
    font: 12px/1 'Harmonia_regular', sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover, a:focus{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
input, textarea, button{
	outline: none;
	border:none;
}
textarea{
	resize: vertical;
}
button{
	cursor: pointer;
}
/* RESET END */

/*DEFAULT CLASSES START*/
.flex-container{
    display: flex;
}
.aligh-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.justify-sp-around{
    justify-content: space-around;
}
.orange-text{
color: #ff5912;
}
.description{
    font-size: 16px;
    line-height: 1.88;
    color: #495662;
}
/*DEFAULT CLASSES END*/
/*DEFAULT COMPONENT START*/
.custom-icon{
    display: inline-block;
}
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title .big{
    font-size: 52px;
}
.subtitle{
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.default-section{
    padding: 60px 0;
}
.item{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    color:#34404b;
    background-color: #fff;
    padding: 30px 10px;
    transition: all .3s linear;
    text-align: center;
}
.item-img{
    min-height: 215px; /* подумать, может убрать*/ 
}
.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 28px 0 30px;
}
.item:hover{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}
header .top-header{
    border-bottom: 1px solid rgba(230, 232, 235, .5);
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px;
}
header .bottom-header{
    border-bottom: 1px solid rgba(230, 232, 235, .5);
    padding: 42px 0;
}
footer {
    margin-top: 60px;
    padding: 84px 0;    
    font-size: 14px;
    line-height: 2.14;
    color: #28313b;
    background-color: #fff;
}
/*DEFAULT COMPONENT END*/

/* ALL STYLE START */
nav.social-nav a + a{
    margin-left: 17px;
}
nav.social-nav a:hover{
    color: #FF5912;
}
.logo {
    margin-right: 85px;
}
header .bottom-header nav.main-nav a + a{
    margin-left: 42px;
}
nav.main-nav{
    font-size: 16px;
}
nav.main-nav a:hover{
    color: #ff5912;
}
ul.user-controls{
    margin-left: auto;
}
ul.user-controls li +li{
    margin-left: 30px;
}
ul.user-controls li {
    position: relative;
}
ul.user-controls li a span.icon-search-ic:hover{
    background-position: -81px 0px;
}
ul.user-controls li a span.icon-user-ic:hover{
    background-position: 0px -59px;
}
ul.user-controls li a span.icon-cart-ic:hover{
    background-position: -20px -59px;
}
span.basket-up {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    background-color: #34404b;
    border-radius: 50%;
    top:-20px;
    left: 50%;
    transform: translateX(-50%)
}
.items-carousel{
    min-height: 650px;
    background: url(..//img/carousel-img-1.jpg) no-repeat center / cover;
    margin-bottom: 60px;
}
.items-carousel-description > span {
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    line-height: 1.67;
    color: #3c4751;
    margin-bottom: 14px;
}
.price-wrapper{ 
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    margin-top: 60px;
}
.price-wrapper>span{
    margin-right: 30px;
    padding-left: 15px;
}
.price-wrapper a span + span {
    margin-left: 10px;
}
.price-wrapper a {
    display: inline-block;
}
.price-wrapper a:hover{
    color: #ff5912;
    background-position: -20px -59px; /* убрать */
}
.load-more .circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    border-radius: 50%;
}
.load-more .circle span + span {
    padding-left: 5px;
}
.load-more {
    background-color: #fff;
    padding: 26px 0;
    text-align: center;
    margin-top: 80px;
}
footer .copyright span{
    display: block;
    margin-top: 22px;
}
.payment h6{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    line-height: 1.88;
    color: #FF5911;
    margin-bottom: 20px;
}
.payment ul li +li{
    padding-left: 10px;
}
.footer-nav {
    min-width: 50%;
    margin-left: auto;
}
.footer-nav-items {
    display: flex;
    height: 90px;
    flex-flow:column wrap;
}
.footer-nav-items li {
    page-break-inside: avoid;
    break-inside: avoid;
}
.footer-nav-link {
    display: inline-block;
}
span.point{
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #28313b;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 2px;
}
.footer-nav-items li:hover .point{
    background-color: #ff5912;;
}
.footer-nav-items li:hover{
     color: #ff5912;
}
/* ALL STYLE END */